@import "reset.scss"
@import "bourbon"
@import "vars.sass"
@import "fonts.sass"
@import "header.sass"
@import url('https://fonts.googleapis.com/css?family=PT+Sans')

//Load Libs SASS

*::-webkit-input-placeholder
	color: #a5a5a5
	opacity: 1

*:-moz-placeholder
	color: #a5a5a5
	opacity: 1

*::-moz-placeholder
	color: #a5a5a5
	opacity: 1

*:-ms-input-placeholder
	color: #a5a5a5
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
body
	font-family: "PT Sans", sans-serif
	font-size: $def_font
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden



.slider
	background: url(../img/slider_bg.png) no-repeat center center
	background-size: cover
	width: 100%
	padding: 22px 0px
.item_carousel
	.item_carousel_descr,
		display: inline-block
		width: 100%
		max-width: 415px
		vertical-align: top
		margin:
			top: 30px
		.name_moto
			p
				font-size: 48px
				font-weight: bold
				color: #fff
				text-transform: uppercase
				margin:
					bottom: 10px
				span
					color: #cc0000
		p
			color: #fff
			font-size: 18px
	.item_carousel_img
		display: inline-block
		width: 49%
		margin-right: 125px
.owl-pagination
	text-align: center
	position: absolute
	bottom: -10px
	left: 50%
	transform: translateX(-50%)
.owl-page
	display: inline-block
	width: 10px
	height: 10px
	border-radius: 50%
	background: #fff
	margin-right: 14px
	padding: 2px
	position: relative
.owl-page.active
	span
		border-radius: 50%
		background: #000
		width: 100%
		height: 100%
		float: left
		border: 1px solid #fff
		width: 19px
		height: 19px
		margin:
			top: -7px
			left: -7px
// wrapper -----------------------
.wrapper
	margin-top: 30px
.article_head_content, .partners_footer
	background: #e2e2e2
	height: 50px
	width: 100%
	padding: 5px 30px
	h2, h3
		font-size: 24px
		font-weight: bold
		color: #000
.aktcii_block
	.article_head_content
		margin-bottom: 10px
// sidebar -----------------------------------------
.sidebar_mnu
	li
		background: url(../img/bg_sidevar_mnu.png) no-repeat top right
		height: 100%
		width: 100%
		a
			color: #fff
			line-height: 18px
			display: inline-flex
			width: 100%
			position: relative
		p
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 67px
		span
			background: #cc0000 url(../img/icons/icon_set.png) no-repeat
			background-position: -41px 10px
			width: 50px
			height: 51px
			display: inline-block
			transition: all 0.75s
		&:nth-child(2)
			span
				background-position: -97px 8px
		&:nth-child(3)
			span
				background-position: -155px 8px
		&:nth-child(4)
			span
				background-position: -203px 8px
		&:nth-child(5)
			span
				background-position: -252px 8px
		&:nth-child(6)
			span
				background-position: -301px 8px
		&:nth-child(7)
			span
				background-position: -41px -42px
		&:nth-child(8)
			span
				background-position: -95px -42px
		&:nth-child(9)
			span
				background-position: -153px -42px
	li:hover span
		filter: contrast(200%)
.sidebar_mnu li.active
	ul.drop_down
		display: block

ul.drop_down
	display: none
	margin-bottom: 10px
	li
		background: #f8f8f8
		border: 1px solid #e2e2e2
		margin-bottom: 0px
		padding:
			top: 15px
			bottom: 5px
			left: 50px
		a
			color: #000
	li.active_cat
		background: #e2e2e2
		border-bottom: 1px solid #0274cb
// tovaru + box_item------------------------------------------------
.tovaru
	margin:
		top: 10px
		bottom: 15px
.item_tovar:hover img
	transform: scale(1.2)
.item_tovar
	border-bottom: 1px solid #d3d3d3
	margin-bottom: 35px
	.img_tovar_holder
		border: 1px solid #e2e2e2
		display: flex
		flex-flow: column wrap
		align-items: center
		margin-bottom: 10px
		height: 200px
		overflow: hidden
		img
			height: 100%
			max-width: 220px
			vertical-align: middle
			transition: all 0.75s
		a
			display: block
			width: 100%
			text-align: center
			height: 100%
	.item_tovar_descr
		p
			font-weight: bold
			font-size: 18px
	.item_tovar_option
		display: flex
		justify-content: space-between
		align-items: center
		ul
			li
				display: flex
				justify-content: space-between
				p
					margin-right: 	28px
				span
					strong
						font-weight: bold
			li:first-child
				margin-bottom: 10px
	.calk_customize
		.plus, .minus
			border: 1px solid #e2e2e2
			color: #56b6ff
			height: 30px
			width: 30px
			display: inline-block
			text-align: center
			cursor: pointer
		input[type="text"]
			border: 1px solid #e2e2e2
			height: 30px
			width: 70px
			text-align: center
		.plus:active, .minus:active
			background: #0c72bf
		.plus:hover, .minus:hover
			background: #56b6ff
			color: #fff
			border:  1px solid #56b6ff
	.add_to_cart_but
		a
			display: block
			background: #0274cb
			color: #fff
			border-radius: 4px
			font-weight: bold
			width: 100%
			max-width: 180px
			margin: 20px auto
			text-align: center
			padding: 3px
			transition: all 0.75s
			&:hover
				text-decoration: none
				background: #56b6ff

//recomend block -----------------------------------------------------
.recomend
	margin: 30px 0 50px 0
	background: url(../img/bg_recomend.png) no-repeat center
	width: 100%
	height: 350px
	background-size: cover
.recomend_wrap
	display: flex
.left_side_recomend
	background: url(../img/bg_recomend_left_side.png) no-repeat top right
	height: 350px
	display: flex
	width:
	flex-flow: column wrap
	justify-content: center
	h3
		display: flex
		justify-content: flex-end
		font-family: "american_captain"
		font-size: 40px
		color: #fff
		line-height: 46px
		text-align: center
		margin-right: 30px
	.but_get_info
		display: flex
		justify-content: flex-end
		margin-top: 35px
		a
			display: block
			margin-right: 50px
			background: #fff
			color: #000
			font-weight: bold
			font-size: 18px
			width: 100%
			max-width: 200px
			height: 40px
			border-radius: 4px
			text-align: center
			padding: 5px 0px
			transition: all 0.75s
			text-decoration: none
			%some_var
		a:hover
			background: #199bff
			text-decoration: none
.right_side_recomend
	height: 350px
	display: flex
	flex-flow: column wrap
	justify-content: center
	h3
		display: inline-table
		font-family: "american_captain"
		font-size: 48px
		color: #fff
		line-height: 56px
		text-align: center
		margin-left: 65px
		span
			color: #199bff
	.but_get_info
		display: flex
		justify-content: flex-start
		margin-top: 35px
		a
			display: block
			margin-left: 90px
			background: #199bff
			color: #000
			font-weight: bold
			font-size: 18px
			width: 100%
			max-width: 200px
			height: 40px
			border-radius: 4px
			text-align: center
			padding: 5px 0px
			transition: all 0.75s
			text-decoration: none
		a:hover
			background: #fff
			text-decoration: none
.left_side_recomend, .right_side_recomend
	width: 50%
// aktcii block
.get_free_deliver
	background: url(../img/get_deliver_free_bg.png) no-repeat top center
	width: 100%
	height: 100%
	min-height: 300px
	text-align: center
	transition: all 0.75s
	margin-bottom: 20px
	a
		color: #fff
		font-family: "american_captain"
		font-size: 36px
		padding: 15px 40px
		line-height: 36px
		display: block
		min-height: 270px
	&:hover
		filter: contrast(160%)
	a:hover
		text-decoration: none
.get_more_information
	a
		color: #0274cb
		font-size: 16px
		font-weight: bold
.cost_old
	font-size: 16px
	text-decoration: line-through
	color: #747474
	text-decoration-color: #d20000
	margin-left: -25px



/// mobile mnu--------------------------------------------

.mobile_holder,.nav_holder
	display: none
/// katalog tovaru_cat ---------------------------------------------------
.info_item.this
	color: #52a521
.info_item.not_get
	color: #bc740e
.info_item.get_this
	color: #ad2020
.content_wrapper_inner.katalog_cat
	margin-top: 30px
// pagination-------------------------------------------------------
.pagination
	margin: 30px 0px
	ul
		li
			display: inline-block
			margin-right: 10px
			a
				display: block
				border: 1px solid #000
				width: 30px
				height: 30px
				text-align: center
				vertical-align: middle
				line-height: 30px
				transition: all 0.75s
			a:hover
				text-decoration: none
				background: #0274cb
				color: #fff
		li.active_page
			a
				border: 1px solid #0274cb
				color: #0274cb
			a:hover
				color: #fff
// katalog -----------------------------------------------
.item_katalog_cat_wrapper
	border-bottom: 1px solid #d3d3d3
	margin-bottom: 20px
	.img_holder
		border: 1px solid #e2e2e2
		display: flex
		flex-flow: column wrap
		align-items: center
		margin-bottom: 15px
		height: 200px
		overflow: hidden
		img
			height: 100%
			vertical-align: middle
			transition: all 0.75s
			max-width: 220px
		a
			display: block
			height: 100%
			width: 100%
			text-align: center
	.descr_katalog_cat
		a
			font-weight: bold
			font-size: 18px
			color: #000
			display: block
			margin-bottom: 20px
.item_katalog_cat_wrapper:hover img
	transform: scale(1.2)
.popular_block
	margin-top: 30px
// contact ------------------------------------------------------
.head_contact
	h3
		font-size: 30px
		color: #0274cb
		font-weight: bold
		border-bottom: 1px solid #ccc
.contact_title
	h4
		color: #000
		font-size: 24px
		font-weight: bold
		margin:
			right: 60px
			bottom: 30px
			top: 30px
		border-bottom: 1px solid #ccc
.contact_inner
	font-size: 18px
	color: #000
	margin-bottom: 25px
	min-height: 100px
	h5
		font-weight: bold
		display: inline-block
	span
		background: url(../img/icons/icon_set.png) no-repeat
		background-position: -54px -95px
		display: inline-block
		margin-right: 15px
		vertical-align: middle
		width: 29px
		height: 29px
		border: 1px solid #0274cb
	span.time_work_icon
		background-position: -118px -95px
	span.phone_icon
		background-position: -87px -95px
	span.mail_icon
		background-position: -158px -95px
	span.servise_icon
		background-position: -190px -95px
.contact_form_inner
	.input_holder
		input, textarea
			width: 100%
			margin-top: 5px
			border: 1px solid #a5a5a5
			resize: none
			padding: 10px
			vertical-align: middle
		input
			height: 40px
		label
			color: #000
		button
			background: #0274cb
			color: #fff
			border: 0px
			width: 180px
			height: 35px
			vertical-align: middle
			text-align: center
			border-radius: 4px
			margin: 30px 0px
			transition: all 0.75s
			&:hover
				background: #56b6ff
		textarea
			height: 148px
.map_contact
	margin:
		top: 40px
		bottom: -40px
// cart block--------------------------------------------------
.item_cart
	padding: 5px 0px
	display: flex
	justify-content: space-between
	font-size: 14px
	align-content: center
	p
		font-weight: bold
.cart_wrapper_inner
	.cart_wrapper_box
		border-bottom: 1px solid #ccc
.item_cart_product
	padding: 20px 0px
	display: flex
	justify-content: space-between
	font-size: 14px
	line-height: 100%
	align-content: center
	.calk_customize
		vertical-align: middle
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		.plus, .minus
			border: 1px solid #e2e2e2
			color: #56b6ff
			height: 30px
			width: 30px
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
		input[type="text"]
			border: 1px solid #e2e2e2
			height: 30px
			width: 70px
			margin: 0 5px
			text-align: center
		.plus:active, .minus:active
			background: #0c72bf
		.plus:hover, .minus:hover
			background: #56b6ff
			color: #fff
			border:  1px solid #56b6ff
	.icon_del
		background: url(../img/icons/icon_set.png) no-repeat
		background-position: -230px -92px
		display: flex
		vertical-align: middle
		width: 20px
		height: 25px
.itog_cart
	margin: 20px 0px
	p
		font-weight: bold
		color: #000
		span
			color: #0274cb
			margin-left: 15px
.contact_form_inner.get_tovat
	.input_holder
		margin: 15px 0px
///foter-----------------------------------------------
footer
	margin:
		top: 20px
.form_wrapper
	background: url(../img/bg_footer_form.png) no-repeat center center
	width: 100%
	height: 100%
	background-size: cover
	position: relative
	z-index: 0
.form_wrapper
	text-align: center
	form
		display: flex
		flex-flow: column wrap
		align-items: center
		margin: 30px auto
		label
			font-size: 20px
			color: #fff
			font-weight: bold
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 1)
		input[type="mail"]
			height: 40px
			border-radius: 4px
			border: 0px
			width: 100%
			max-width: 240px
			margin-top: 20px
			transition: all 0.75s
		button
			background: #0274cb
			color: #fff
			border-radius: 4px
			height: 35px
			width: 100%
			font-weight: bold
			margin-top: 15px
			max-width: 180px
			border: 0px
		button:hover
			background: #399ce7
.border_form
	margin: 20px
	border: 2px solid #fff
.slogan_form
	position: absolute
	top: 0
	right: 15px
	height: 100%
	padding: 20px 40px
	background: rgba(2,116,203, 0.75)
	z-index: -1
	h3
		color: #fff
		font-size: 36px
		line-height: 43px
		text-transform: uppercase
		font-family: "american_captain"
		height: 100%
		width: 100%
		margin-right: 10px
		padding: 36px 0px

.partners_footer
	margin-top: 20px
.partners_footer_wraper
	display: flex
	justify-content: space-between
	align-items: center
	margin: 45px 0px
	flex-wrap: wrap
.nav_footer, .katalog_footer,
.help_client, .get_be_in_call
	display: inline-flex
	li
		a
			color: #000
	li:first-child
		font-weight: bold
.footer_cont
	display: flex
	justify-content: space-between
.get_be_in_call
	li
		display: flex
		justify-content: space-between
		p
			margin-right: 60px
	li:first-child
		margin-bottom: 20px
	li:last-child
		a
			color: #0274cb
			font-size: 14px
.logo_footer
	a
		line-height: 120px
		vertical-align: middle
		display: block
		padding: 0 10px
		img
			width: 100%
			max-width: 118px
			vertical-align: middle
			transition: all 0.75s
.item_partners
	img
		transition: all 0.75s
.item_partners:hover img
	filter: contrast(200%)
.logo_footer:hover img
	filter: contrast(200%)

.footer_nav_wrapper
	padding-top: 35px
	margin-top: 30px
	border-top: 2px solid #e2e2e2


/*---------------------------------------Страница описания товара-------------------------*/


.breadcrumbs_wrapper
	border-top: 2px solid #e1e1e1
	padding: 10px 0
.breadcrumbs
	margin-bottom: -30px
	li
		display: inline-block
		font-size: 12px
		padding-right: 12px
		position: relative
		a
			color: #000000
			&:hover
				text-decoration: none
				color: #0274cb
		&:before
			content: "/"
			position: absolute
			top: 0
			right: 2px
		&:last-child
			a
				color: #0274cb
			&::before
				content: ""
.article_card_content
	padding-top: 30px
.fotorama
	border: 1px solid #e2e2e2
.fotorama__nav-wrap
	position: absolute
	bottom: 10px
	left: 10px
	.fotorama__nav
		text-align: left
		.fotorama__thumb-border
			color: #199bff
		.fotorama__thumb-border
			border-width: 1px
.fotorama__arr--prev, .fotorama__arr--next
	width: 30px !important
	height: 30px !important
	background: #0274cb !important
	opacity: 1 !important
	border-radius: 50%
	&:hover
		opacity: 0.7 !important
	&:before
		content: ""
		display: block
		background: url(../img/arrow_prev.png) no-repeat center center
		width: 28px
		height: 30px
.fotorama__arr--next
	right: 10px !important
	&:before
		background: url(../img/arrow_next.png) no-repeat center center
		width: 32px
.fotorama__arr--prev
	left: 10px !important

.item_tovar_card_page
	margin: 0
	border: 0
	.item_tovar_descr
		margin-bottom: 25px
	.add_to_cart_but
		a
			margin: 45px 0 0
#tabs
	margin-top: 22px
	margin-bottom: 100px
	width: 100%
	ul
		margin-bottom: 40px
		position: relative
		max-width: 335px
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background: #e2e2e2
			z-index: -1
		li
			display: inline-block
			padding: 5px 10px
			border-bottom: 1px solid #000000
			box-sizing: border-box
			a
				color: #000000
				font-weight: bold
				padding: 5px 10px
				outline: none
			&:hover
				border-bottom: 1px solid #0274cb
				background: #0274cb
				cursor: pointer
				a
					color: #fff
					text-decoration: none

			&.ui-state-active
				border-bottom: 1px solid #0274cb
				background: #0274cb
				cursor: pointer
				a
					color: #fff
					text-decoration: none
					outline: none
#tab_description
	p
		color: #000000
		line-height: 25px
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
#tab_characteristics
	table
		width: 100%
		color: #000000
		tr
			&:hover
				background: #e2e2e2
				cursor: pointer
			td
				border: 1px solid #e2e2e2
				padding: 10px 20px
				&:first-child
					width: 39%



/*-----------------Страница инструкции----------------*/

section.instructions_wrapper
	.content_wrapper_instructions
		.article_head_content
			background: none
			border-bottom: 1px solid #e1e1e1
			padding: 0
			margin-bottom: 22px
			height: auto
			h2
				font-size: 30px
				color: #0274cb
				line-height: 30px
				padding: 8px 0 6px
		#accordion_instructions
			h3
				background: #f4f4f4
				color: #0274cb
				font-size: 24px
				font-weight: bold
				padding: 0 31px
				margin-bottom: 10px
				transition: all 0.75s
				&:hover
					background: #0274cb
					color: #fff
					cursor: pointer
				&.ui-state-active
					background: #0274cb
					color: #fff
			div
				padding: 20px 0 30px
				ul
					li
						list-style-type: disc
						color: #025295
						margin-left: 20px
						margin-top: -7px
						a
							font-size: 18px
							color: #025295
							text-decoration: underline
							margin-left: -7px
							&:hover
								text-decoration: none
						ul
							li
								margin-left: 36px


/*-----------------Страница Доставка----------------*/

.content_wrapper_delivery
	.delivery_foto_wrapper
		margin-bottom: 35px
		img
			width: 100%
	h3
		font-size: 24px
		font-weight: bold
		color: #000000
		border-bottom: 1px solid #e1e1e1
		margin-bottom: 20px
		line-height: 24px
		padding: 8px 0 6px
	.delivery_description_content
		margin-bottom: 30px
		color: #000000
		line-height: 25px


/*-----------------Страница Гарантии----------------*/


.content_wrapper_guarantee
	.guarantee_description_content
		ol
			list-style-type: decimal
			padding: 0 110px 0 55px
			li
				margin-bottom: 20px
				color: #000000


/*-----------------Страница О компании----------------*/

.content_wrapper_about
	.about_content
		margin-bottom: 80px
		p
			margin-bottom: 25px
			color: #000
			&:last-child
				margin-bottom: 0
	.slider_about_company
		max-width: 770px
		width: 100%
		margin: 0 auto
		position: relative
		.slider_item
			max-height: 127px
			max-width: 170px
			width: 100%
			height: 100%
			img
				width: 100%
				min-height: 127px
				object-fit: cover
		.prev_button, .next_button
			display: block
			width: 30px
			height: 30px
			background: #0274cb
			position: absolute
			top: 50%
			transform: translateY(-50%)
			transition: all 0.75s
			&:before
				content: ""
				display: block
				width: 30px
				height: 30px
				background: url(../img/arrow_prev.png) no-repeat center center
			&:hover
				opacity: 0.7
		.prev_button
			left: -50px
		.next_button
			right: -30px
			&:before
				background: url(../img/arrow_next.png) no-repeat center center




/*-----------------Страница О компании----------------*/



.payment_wrapper
	.content_wrapper_payment
		.payment_description_wrapper
			.payment_description_content
				color: #000
			.payment_description_content_method
				display: flex
				flex-wrap: wrap
				-webkit-box-direction: normal
				-webkit-box-orient: horizontal
				flex-flow: row wrap
				-webkit-box-align: center
				-webkit-align-items: center
				-ms-flex-align: center
				align-items: center
				.payment_method
					margin-right: 30px
					a
						&:hover
							filter: contrast(150%)
		.payment_method_description_wrapper
			margin-top: 160px
			h3
				margin-bottom: 10px



/*-----------------Страница Сервис----------------*/


.content_wrapper_service
	.service_description_wrapper
		color: #000
		p
			margin-bottom: 25px
			line-height: 25px
		ul
			list-style-type: disc
			padding-left: 20px
			line-height: 25px
	.service_costs_wrapper
		h3
			border: 0
		table
			width: 100%
			tr
				&:hover
					background: #e2e2e2
					cursor: pointer
				td
					border: 1px solid #e2e2e2
					padding: 5px 0 5px 20px
					&:first-child
						width: 39%
				&:first-child
					background: #e2e2e2



//ALWAYS END
@import "media"
